html, body {
    background-color: #008B8B;
    margin:0;
    padding:0;
}

.header {
    background-color: #a5e8e8;
    line-height: normal;
    position: relative;
    margin-top: 0;
    margin-bottom: 2%;
    padding: 2%;
    font-family: 'Cursive';
    font-size: 400%;
}

h2 {
    text-align: center;
    margin-bottom: 2%;
    color: #FF8C00 bold;
}

button, input {
    border-radius: 4px;
    display: block;
    cursor: pointer;
    width: 100%;
    margin-top: 4%;
    font-weight: bold;
    padding: 2%;
    color: #008B8B;
}

button:hover {
  background-color: #FFA500;
  color: #008B8B;
}

.art_body {
    display: flex;
    margin-left: 30%;
    margin-right: 5%;
    margin-bottom: 5%;
    top: 15%;
    flex-direction: column;
    align-items: center;
	text-decoration-color: #000000;
    color: black;
    padding: 2%;
    word-wrap: break-word;
    border: 1px solid ;
    text-align: justify;
    border-radius: 10px;
}

.categories {
    position: static;
    font-weight: bold;
    list-style-type: none;
    list-style-position: inside;
    border: 3px solid;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 5px;
    border-color: #FFA500;
    float: left;
    clear: both;
    display: flex;
    margin-left: 5%;
    padding: 1%;
    width: 10%;
}

:link{
    text-decoration: none;
}

.categories:hover {
    background-color: #FFA500;
    color: #008B8B;
}

h3 {
    background: #a5e8e8;
    position: relative;
    margin-bottom: 2%;
    padding: 2%;
    border-radius: 10px;
    color: #FFA500;
}

