{% extends 'blog/base.html' %}
{% block title %}
    {% for posts in single_article %}
        {{ posts.title }}
    {% endfor %}
{% endblock %}

{% block content %}
{% block menu %}
    <div>
        {% for item in category_details %}
            <div class="menu_bar">
                <div class = "categories">
                <a href="{{ item.get_absolute_url }}">{{ item }}</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}


    {% for posts in single_article %}
        <div class="art_body">
            <img class="author-avatar" style="width: 100px; height: 100px;" src="{{ user.profile.img.url }}">
            <p class="author-name">{{ post.author }}</p>
            <a href="{% url 'post_update' post.id %}">Update</a>
            <a href="{% url 'post_delete' post.id %}">Delete</a>
                <h3>{{ posts.title }}</h3>
                <p>{{ posts.article }}</p>

 <div class="comment_block">


     {% if comments_sum > 0 %}
   Total comments number is {{ comments_sum }}
     {% else %}
     There are no comments yet
     {% endif %}



        {% for comment in comments %}


                    <hr style="height:2px; color:white;">
                                <p>{{ comment.content}}</p>
                                <p>{{ comment.commentator }} {{ comment.created|date:"j M Y P" }}</p>
                    <hr style="height:2px; color:white;">

                        {% endfor %}

                        {% if new_comment %}
                            <h3>Your comment has been added.</h3>
                        {% else %}

                            <form class ="comment-form" action="." method="post">
                                {{ comment_form.as_p }}
                                {% csrf_token %}
                                <input type="submit" value="Add comment">
                            </form>
            {% endif %}
      {% endfor %}
     </div>
 </div>
{% endblock %}