{% extends 'blog/base.html' %}

{% block title %}
{{ title }}
{% endblock %}
{% block content %}



    {% for posts in art_category %}
<div class="art_body">
    <h3>{{ posts.title }}</h3>
    <p>{{ posts.article }}</p>
<form method="post" class="comment-form" action=".">
        {% csrf_token %}
        {{ comment_form.as_p }}
        {% if request.user.is_authenticated %}
        <input type="submit" value="Submit" class="btn btn-outline-success">
            {% else %}
            <input type="submit" value="Submit" class="btn btn-outline-success" disabled> You must be Logged in to Comment
            {% endif %}
    </form>
    </div>
    {% endfor %}



{% endblock %}