{% extends 'blog/base.html' %}
{% block title %}
    {{ single_article.title }}
{% endblock %}

{% block content %}

{% for item in category_view %}
            <div class="menu_bar">
                <div class = "categories">
                <a href="{{ item.get_absolute_url }}">{{ item }}</a>
                </div>
            </div>
        {% endfor %}

    {% for single in art_category %}
    <div class="art_body">
    <h3>{{ single.title }}</h3>
    <p>{{ single.article|striptags|truncatechars:300 }}</p>
        <a href="{% url 'post_detail' single.id %}">Read more...</a>
</div>
{% endfor %}


{% endblock %}