{% extends 'blog/base.html' %}

{% block title %}
{{ title }}
{% endblock %}
{% block content %}

    {% for posts in art_category %}
<div class="art_body">
    <h3>{{ posts.title }}</h3>
    <p>{{ posts.article }}</p>
    <a href="{% url 'post_update' object.id %}">Update</a>
    <a href="{% url 'post_delete' object.id %}">Datete</a>
    <form method="post" class="comment-form" action="{% url 'new_comment' post.id %}">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <button type="submit">Submit</button>
    </form>
    </div>
    {% endfor %}
{% endblock %}