{% extends 'userdata/base.html' %}

{% block title %}
    User Profile
{% endblock %}

{% block content %}
<div class="profile">
    <h3>User Profile</h3>
    <b>Name:</b>@{{ user.username }}<br>
    <b>Email:</b>{{ user.email }}<br>

    <img class="avatar" src="{{ user.profile.img.url }}">

    <h3>Change your profile</h3>
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ update_user }}<br>
    {{ img_profile }}<br>
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
    <button type="submit">Update</button>
  </form>
</div>
{% endblock %}