{% extends 'userdata/base.html' %}

{% block title %}
    User Profile
{% endblock %}

{% block content %}

<div class="profile">
    <a href="{% url 'post_list' %}" style="text-decoration: none;">&larr; Back To The Home Page</a><br/>
    <h3>User Profile</h3>
    <b>Name:</b>@{{ user.username }}<br/>
    <b>Email:</b>{{ user.email }}<br/>
        {% if user.profile.img %}
            <img class="avatar" src="{{ user.profile.img.url }}" width="170" height="170">
        {% endif %}


    <h3>Change your profile</h3>
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ update_user }}<br>
    {{ img_profile }}<br>
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
    <button type="submit">Update</button>
  </form>
</div>
{% endblock %}