 {% extends 'blog/base.html' %}

{% for comment in comments %}
    <div>
        <p>
            Commet {{ forloop.counter }} by {{ comment.commentator }}
            {{ comment.created }}
        </p>

        {{ comment.content|linebreaks }}
    </div>
    {% empty %}
    <p>There are no comments yet</p>

    {% endfor %}

    {% if new_comment %}
        <h2>Your comment has been added</h2>
    {% else %}
        <h2>Add a new comment</h2>
    <form method="post" action=".">
        {{ comment_form.as_p }}
        {% csrf_token %}
        </p><input type="submit" value="Add comment"></p>
    </form>
    {% endif %}
    </div>
    {% endfor %}
    {% with comments as total_comments %}
    <p>{{ total_comments }}</p>
    {% endwith %}
{% endblock %}