{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}">

<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
    <div class="page-header">
        <header>
            <div class="menu">
            <ul>
                <li><a href="{% url 'post_list' %}">{{category}}</a></li>
            </ul>
            </div>
        </header>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-10">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>


