{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}">

<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>

    <div class="page-header">
        <span class="search" >

    <form method="get" action="{% url 'search' %}">
        {% csrf_token %}
        <input name="q" type="search" placeholder="search">

        <input type="submit" value="Submit">
    </form>
</span>
        <div class="btn-account">
            {% if user.is_authenticated %}
                <a class="account-btn" href="{% url 'profile' %}">Profile</a>
                <a class="account-btn" href="{% url 'logout' %}">Log Out</a>
            {% else %}
                <a class="account-btn" href="{% url 'signup' %}">Register</a>
                <a class="account-btn" href="{% url 'login' %}">Log In</a>
            {% endif %}
            </div>
<h1 class="header"><a href="{% url 'post_list' %}">Articles</a></h1>

<div class="add_btn">
    <div class="circle">
        <div class="inner">
            <a class="add_article" href="{% url 'article_add' %}">+</a>
        </div>
    </div>
</div>

    </div>

    {% block content %}{% endblock %}

</body>
</html>


