{% extends 'blog/base.html' %}

{% block title %}
    Home Page
{% endblock %}

{% block content %}
<div class="art_body">
    {% for art in all_posts_list %}
        <h3>{{ art.title }}</h3>
        <p>{{ art.article|striptags|truncatechars:300 }}</p>
        <a href="{{ art.get_absolute_url }}">Read more...</a>
    {% endfor %}
 </div>
<div class="page-current">
{% if is_paginated %}
    {% if page_obj.has_previous %}
        <a href ="?page=1">first</a>
        <a href="?page={{ page_obj.previous_page_number }}">&laquo</a>
    {% endif %}
        {% for num in page_obj.paginator.page_range %}
            {% if num == page_obj.number %}
                <a class="btn-page">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">&raquo</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">last</a>
    {% endif %}
{% endif %}
   </div>





{% endblock %}

