{% extends 'blog/base.html' %}

{% block title %}
    Home Page
{% endblock %}

{% block content %}
<h1 class="header"><a href="{% url 'post_list' %}">Articles</a></h1>
    {% for item in category %}
        <div class = "categories">
        <a href="{{ item.get_absolute_url }}">{{ item }}</a>
        </div>
    {% endfor %}

    {% for art in article %}
<div class="art_body">
    <h3>{{ art.title }}</h3>
    <p>{{ art.article }}</p>
</div>
    {% endfor %}

    {% for comment in comments %}
        <div>
          <p>
            {{ comment.commentator }}
            <span>
              {{ comment.created }}
            </span>
          </p>
          {{ comment_form }}
        </div>
    {% endfor %}



{% endblock %}